<div id="form">
<%= form_for @student do |f| %>
    <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field juxtapose_l">
      <p>
        <%#= f.label :first_name %> <br />
        <%= f.text_field :first_name, size: 10, placeholder: 'First Name' %>
      </p>
    </div>
    <div class="field juxtapose_r">
      <p>
        <%#= f.label :last_name %> <br />
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
      </p>
    </div>

    <div >
      <p >
        <%#= f.label :email, "* Email Address" %> <br />
        <%= f.text_field :email, placeholder: 'Email' %>
      </p>

      <p>
        <%#= f.label :email, "* Email Address" %> 
        <%= f.text_field :phone, placeholder: 'Phone' %>
      </p>
    </div>

    <p>
        <%= f.select :year, [['Freshman', 'freshman'],['Sophomore', 'sophomore'],['Junior', 'junior'], ['Senior', 'senior']], :prompt => "Select year..." %>
  </p>
  <br />
  <p><%= f.submit (@student.new_record? ? "Sign up" : "Update"), class: "button" %></p>
<% end %>
</div>

