<!DOCTYPE html>
<html>
  <head>
    <title>Avenue</title>
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    "general" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => "partials/nav" %>

    <div class="row" id="main_div">
      <div class="small-12 columns" id="main_content">
        <%= yield %>
        <div class="push"></div>
      </div>
    </div>

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 

    <%= javascript_include_tag 'application' %>
  </body>
</html>
